$voodireto: #00CD00;
$vooindireto: #FFD700;

.area {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  width:100%;
  margin:1px auto 0;
  padding:10px 10px;
}

.container {
  font-size: small;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  width:300px;
  margin:10px;
  padding:10px 10px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.15);
  border-left: 5px solid $voodireto;
  padding-right: 5px;
  padding-bottom: 10px;
}

.container .item {
  padding:5px 10px;
  width: 100%;
}

.item .left {
  width:100%;
  display: flex;
  float:left;
}

.item .right {
  width: 100%;
  float: right;
  display: flex;
}

.item .result {
  width:150px;
  float: right;
  text-align: center;
  color:#FFF;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #eee;
  background: linear-gradient(#4EBADA 10%, #3C8EA7) repeat scroll 0 0 transparent;
}
