<div class='header'>
   <div>
      <div class='logo'><img src='assets/img/logo-mini.png'/></div>
      <div class="marca">Supervoos</div>
   </div>
   <div>
      <ul class='menu'>
          <li><a href="#">Recursos</a></li>
          <li><a href='#'>Blog</a></li>
          <li><a href='#'>Inscrição</a></li>
          <li><a href='#'>Sobre</a></li>
        </ul>
   </div>
  </div>
  <div class="main">
    <app-airports></app-airports>
    <app-flights></app-flights>
  </div>
  <div class="footer"> Supervoos by Paulo Correa @ 2019</div>

