<router-outlet>
<header class="cabecalho">
  <div class="logo_superior">
      <a href="">SuperVoos</a>
  </div>
  <nav>
    <ul class="menu_superior">
      <li><a href="#">Recursos</a></li>
      <li><a href='#'>Blog</a></li>
      <li><a href='administracao'>Inscrição</a></li>
      <li><a href='login'>Sobre</a></li>
    </ul>
  </nav>
</header>
<div class="header">
   <div>
      <div class='logo'><img src='assets/img/logo-mini.png'/></div>
      <div class="marca">Supervoos</div>
   </div>
</div>
<div class="main">
    <app-airports></app-airports>
</div>
<div class="footer"> Supervoos by Paulo Correa @ 2019</div>
</router-outlet>

