$fundo-esquerda: #6600cc;
$fundo-direita: #cc99ff;
$marcador:  #00ff00;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.marca{
  text-align: center;
  text-decoration: floralwhite;
  color: azure;
}
.dropdown{
  display: inline-flex;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  background: linear-gradient(45deg, $fundo-esquerda 0%, $fundo-direita 100%);
  box-shadow: 5px 5px 8px #888888;

}

.main{
  display: block;
  height: 400px;
}

.footer{
  position: relative;
  display: block;
  align-items: center;
  text-align: center;
  height: 30px;
  bottom: -13px;
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
  vertical-align: bottom;
  background: linear-gradient(45deg, $fundo-esquerda 0%, $fundo-direita 100%);
}
