<router-outlet>
<header class="cabecalho">
  <div class="logo_superior">
      <a href="">SuperVoos</a>
  </div>
  <nav>
    <ul class="menu_superior">
      <li><a href="#">Recursos</a></li>
      <li><a href='#'>Blog</a></li>
      <li><a href='administracao'>Inscrição</a></li>
      <li><a href='login'>Sobre</a></li>
    </ul>
  </nav>
</header>
<div class="header">
   <div>
      <div class='logo'><img src='assets/img/logo-mini.png'/></div>
      <div class="marca">Supervoos</div>
   </div>
</div>
<div class="main">
    <app-airports></app-airports>
</div>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="addPerson()">
  <vaadin-text-field
    label="First Name"
    formControlName="firstName"
    ngDefaultControl>
  </vaadin-text-field>
  <vaadin-text-field
    label="Last Name"
    formControlName="lastName"
    ngDefaultControl>
  </vaadin-text-field>
  <vaadin-button (click)="addPerson()"> Add </vaadin-button>
</form>

<vaadin-grid [items]="people">
  <vaadin-grid-column path="firstName" header="First name">
  </vaadin-grid-column>
  <vaadin-grid-column path="lastName" header="Last name"> </vaadin-grid-column>
</vaadin-grid>
<br>
<div class="footer"> Supervoos by Paulo Correa @ 2019</div>
</router-outlet>

