$esq: #ffbf00;
$dir: #ffff00;

.airport {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    border-radius: 5px;
    text-transform: uppercase;
    overflow: hidden;
    width: 650px;
    width: 500px;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #888888;
    background: linear-gradient(45deg, $esq 0%, $dir 100%) !important;

}

.fundo{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.botao-sombra{
    box-shadow: 5px 05px 05px #888888;
}
