$esq: #ffbf00;
$dir: #ffff00;
.airport {
    position: relative;
    width: 500px;
    top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fundo{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: linear-gradient(45deg, $esq 0%, $dir 100%) !important;
}